body {
	background-color: LavenderBlush;
	background-size: cover;
}

ul {
	font-family: Palatino Linotype;
	font-style: normal;
}

section{
	font-style: normal;
	font-family: Palatino Linotype;
	text-align: left;
}

nav {
	background-color: LavenderBlush;
}

nav#tabs ul{
  list-style-type: none;
  margin: 0;
  padding-top: 10px;
  overflow: hidden;
}

nav#tabs ul li{
	display:inline-table;
	margin: 0 10px;
}

nav#tabs ul li a {
	display: block;
	padding: 20px;
	font-size: 20px;
	color: gray;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Palatino Linotype;
}

nav#tabs ul li a:hover{
	color: white;
}

img{
	width: 25%;
	height: 25%; 
	display: block;
	margin-right: auto;
	margin-left: auto;
}

video {
	width: auto;
	height: 395px;	
}

h1 {
	font-family: Palatino Linotype;
	font-style: italic;
	text-align: center;
}