body {
	background-color: LavenderBlush;
	background-size: cover;
}


section{
	font-style: normal;
	font-family: Palatino Linotype;
	text-align: center;
	font-size: small;
}

nav#tabs {
		background-color: LavenderBlush;
		overflow:hidden;
}

nav#tabs ul{
		list-style-type: none;
		padding: 10;
		overflow: hidden;
}

nav#tabs ul li{
		display: inline;
		float: left;
}

nav#tabs ul li a {
		display: block;
		padding: 20px;
		font-size: 20px;
		color: gray;
		font-weight: bold;
		text-decoration: none;
		text-transform: uppercase;
}

nav#tabs ul li a:hover{
		color: white;
}

img{
		width: 25%;
		height: 25%; 
		display: block;
		margin-right: auto;
		margin-left: auto;
}

video {
		width: auto;
		height: 395px;	
}

h1 {
		font-family: Palatino Linotype;
		font-style: italic;
		text-align: center;
}